In [10]:
import pandas as pd
import numpy as np

In [5]:
socio_data = pd.read_stata('gsswide.dta')

In [4]:
socio_data.dtypes

id             int16
papres16        int8
paeduc          int8
maeduc          int8
educ            int8
year            int8
black           int8
male            int8
parfor          int8
hsgrad          int8
colgrad         int8
edcat       category
dtype: object

In [5]:
socio_data.head()

,id,papres16,paeduc,maeduc,educ,year,black,male,parfor,hsgrad,colgrad,edcat
0,1,50,16,12,16,86,0,0,0,1,1,ColGrad
1,2,42,16,16,16,86,0,0,0,1,1,ColGrad
2,3,47,12,12,18,86,0,1,0,1,1,GradSch
3,4,78,19,16,17,86,0,0,0,1,1,GradSch
4,5,41,16,12,18,86,0,1,0,1,1,GradSch

In [15]:
import statsmodels.api as sm
y = socio_data['educ'].values
X = np.array(socio_data[['papres16','paeduc', 'maeduc', 'black', 'male']])#[[x_paeduc, x_maeduc, x_black, x_male ]]

In [20]:
from pyautodiff.optimizer import Optimizer
opt=Optimizer(loss='mse',optimizer='sgd')

In [21]:
np.shape(X)
np.shape(y)

(4552,)

In [22]:
opt.fit(X, y, iters=10)

In [23]:
opt.coefs

array([  7.18396269e+14,   1.40962177e+14,   1.40962334e+14,
        -6.06523143e+02,   1.76050211e+13])